<!DOCTYPE html>
<html lang="en">
  <style>
    body {
      min-height: 100vh;
      position: relative;
      margin: 0;
    }
    footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        }

    .text_style{
      font-family: Raleway,RalewayOffline,sans-serif;
      font-weight: 500;
      letter-spacing: 2px;
      font-size: 0.83em;
    }

  </style>
  <head>
    <title>Compilador Léxico</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <script src="{{ url_for('static', filename='jquery/jquery-3.4.1.min.js') }}"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <a href="https://github.com/RodssOliveira/Mini-Compilador-Lexico" target="_blank" class="nav-link text-right">
        <img src="{{ url_for('static', filename='img/abacaxi.png') }}">
      </a>

      <a class="navbar-brand" href="/">Compilador Léxico</a>
    
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>

    <div class="panel-body panel-body-custom">
      <div class="jumbotron" style="padding-top:3%; padding-bottom:3%;">
        <div class="container text-center">
            <h2>Insira o seu código em C/C++ e obtenha a análise Léxica</h2>
        </div>
      </div>
      <div class="container" style="margin-top: 3%">
          <div class="row text_style">
              <div class="col-md-4">
                  <h5>Insira seu código aqui</h5>
              </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
                <textarea class="form-control" rows="2" id="code" name="code"></textarea>
            </div>
          </div>
          <i style="font-weight: 400;">Ainda em desenvolvimento, portanto não possui todas as regras implementadas. Sujeito a erro.</i>
          <div class="row" style="margin-top: 2%">
            <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 text-right">
                <button type="submit" id="btn_search" class="btn btn-dark save">Analisar</button>
            </div>
          </div>
          <hr>
      </div>
      <div class="container results" style="margin-top: 2%">
        <div class="row text_style">
            <div class="col-md-4">
                <h5>Resultado</h5>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
              <label for="note" class="control-label text_style">Lexema</label>
              <textarea class="form-control" rows="2" id="lexema" name="lexema"></textarea>
          </div>
        </div>
        <div class="row" style="margin-top: 1%">
          <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
              <label for="note" class="control-label text_style">Token</label>
              <textarea class="form-control" rows="2" id="token" name="token"></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-footer panel-custom">
      <br>
      <br>
      <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
          <div class="container text-center">
            <small style="color:ghostwhite">Desenvolvido por Rodrigo Oliveira</small>
          </div>
      </footer>
    </div>
  </body>
  <script>
    $('.results').hide()
    
    $('#btn_search').on('click', function(){
      var code = $('#code').val();

      $.ajax({
        type: "POST",
        url: "/api/process_code",
        data: {'code':code},
        success: function (json) {
            $('.results').fadeIn();
            $('#lexema').val(json[0])
            $('#token').val(json[1])
        },
        error: function (xhr, ajaxOptions, thrownError) {
          alert('Erro')
        }
    });
    });
  </script>
</html>